.cart-container .price-container {
    text-align: end;
    font-weight: bold;
    font-size: 2rem;
}

.empty-cart {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

form {
    width: 100%;
}