.item-page-container img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.item-page-container .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-page-container .info-container .title {
    text-transform: uppercase;
    font-weight: bold;
}

.item-page-container .info-container .description {
    text-align: justify;
}

.item-page-container .price-container {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: bold;
}

.item-page-container #alert-container {
    display: none;
}

.item-page-container #alert-container .close {
    cursor: pointer;
}