.shop-item-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
}
.shop-item-container img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
}

.shop-item-container .info-container {
        position: absolute;
        bottom: 0;
        background: #ffffffee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #343a40;
        width: calc(100% - 1.85rem);
        padding: 1rem 2rem;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
}

.shop-item-container:hover .info-container {
        height: 100%;
}

.shop-item-container .info-container .name {
        text-transform: uppercase;
        font-weight: bold;
}

.shop-item-container .info-container .price {
        font-weight: bold;
        text-align: right;
}